.App {
}

.HeaderContainer {
	width: 80%;
	background-color: #d8d8d8;
	padding: 8px 10%;
	font-weight: 700;
	vertical-align: middle;
	height: 24px;
	margin-bottom: 30px;
}

.HeaderContainer:hover{
	cursor: pointer;
}

.HeaderContainer span {
	margin-top: -4px;
}

.HeaderContainer img {
	height: 24px;
	margin-right: 25px;
}

.Content{
	width: 80%;
	margin: auto;
}

.SearchBar{
	float: right;
}

.SearchBar input{
	padding: 5px;
	border: 1px solid #d8d8d8;
	border-radius: 3px 0 0 3px;
	vertical-align: top;
	font-size: 14px;
}

.SearchBar img{
	height: 16px;
	padding: 5px;
	border: 1px solid #d8d8d8;
	border-left: 0;
	border-radius: 0 3px 3px 0;
	vertical-align: top;
}

.Separator{
	margin-bottom: 30px;
	overflow: auto
}

.Titles{
	text-align: center;
}

.Titles h3{
	text-align: center;
	font-weight: 300;
	color: #555555;
}

.ListElement{
	width: 30%;
	min-width: 150px;
	float: left;
	margin: 1.5%;
	transition: all 0.25s;
}


.ListElement:hover{
	color: #3ea5d6;
	cursor: pointer;
}

.ListElement img{
	width: 100%;
}

.ListElement p{
	font-size: 14px;
	margin: 3px
}

.ListElement div p{
	font-size: 12px;
	color: #555555;
}

.Half{
	width: 46%;
	margin: 2%;
	float: left;
}

.Half img{
	width: 100%;
}

.Half div{
	color: #777777;
	margin: 0;
}

.Half div p{
	margin: 0;
	font-size: 14px;
}

.Half p{
	text-align: justify;
	font-size: 12px;
}

.Half h3{
	margin: 0;
}